jaka_velkaverh_razsirjenje_upanja.aux
jaka_velkaverh_razsirjenje_upanja.log
jaka_velkaverh_razsirjenje_upanja.nav
jaka_velkaverh_razsirjenje_upanja.out
jaka_velkaverh_razsirjenje_upanja.pdf
jaka_velkaverh_razsirjenje_upanja.snm
jaka_velkaverh_razsirjenje_upanja.synctex.gz
jaka_velkaverh_razsirjenje_upanja.toc

